<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="first.css">
	<title>Title</title>
</head>
<body>
<form action="{{ url_for('getdata') }}" method="POST">
	<div class="form-group">
    <label for="exampleFormControlTextarea1"><h3>Enter the chat data:</h3></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="data"></textarea>
  </div>


<input type="submit" class="btn btn-primary" value="Suggest">

	</form>

</body>
</html>